Repository sourcegraph/src-cli, pull requests merged in 2020-06, with the labels that each got.

#191 Pull missing docker images automatically
  cmd/src/actions_exec.go
  cmd/src/actions_exec_logger.go
Labels: action-exec

#227 Check that $VERSION is in MAJOR.MINOR.PATCH format in release.sh
  release.sh
Labels: planned/3.18, team/campaigns

#221 Render alert fields when performing searches
  CHANGELOG.md
  cmd/src/actions_exec.go
  cmd/src/colors.go
  cmd/src/format.go
  cmd/src/search.go
  cmd/src/search_alert.go
  cmd/src/search_alert_test.go
Labels: action-exec, enhancement, planned/3.18

#233 Update jsonx dependency
  go.mod
  go.sum
Labels: bug, planned/3.18, team/campaigns
