Repository sourcegraph/src-cli, pull requests merged in 2020-08, with the labels that each got.

#258 api: refactor the low level cmd/src GraphQL functionality into a new api package
  cmd/src/actions_exec.go
  cmd/src/actions_scope_query.go
  cmd/src/api.go
  cmd/src/campaigns_add_changesets.go
  cmd/src/campaigns_create.go
  cmd/src/campaigns_list.go
  cmd/src/config.go
  cmd/src/config_edit.go
  cmd/src/config_get.go
  cmd/src/config_list.go
  cmd/src/extensions_copy.go
  cmd/src/extensions_delete.go
  cmd/src/extensions_get.go
  cmd/src/extensions_list.go
  cmd/src/extensions_publish.go
  cmd/src/extsvc.go
  cmd/src/extsvc_edit.go
  cmd/src/extsvc_list.go
  cmd/src/format.go
  cmd/src/main.go
  cmd/src/orgs_create.go
  cmd/src/orgs_delete.go
  cmd/src/orgs_get.go
  cmd/src/orgs_list.go
  cmd/src/orgs_members_add.go
  cmd/src/orgs_members_remove.go
  cmd/src/patch_sets_create_from_patches.go
  cmd/src/repos_delete.go
  cmd/src/repos_enable_disable.go
  cmd/src/repos_get.go
  cmd/src/repos_list.go
  cmd/src/search.go
  cmd/src/users_create.go
  cmd/src/users_delete.go
  cmd/src/users_get.go
  cmd/src/users_list.go
  cmd/src/users_tag.go
  internal/api/api.go
  internal/api/errors.go
  internal/api/flags.go
  internal/api/nullable.go
Labels: enhancement, team/campaigns

#267 Add -upload-route flag to lsif upload
  cmd/src/lsif_upload.go
Labels: team/code-intelligence

#271 changelog: update for 3.18
  CHANGELOG.md
Labels: docs

#279 campaigns: fix usage wording
  cmd/src/campaigns_preview.go
Labels: team/campaigns

#280 output: fix Block newlines
  cmd/src/campaigns_apply.go
  cmd/src/campaigns_common.go
  cmd/src/campaigns_preview.go
  cmd/src/campaigns_validate.go
  internal/output/_examples/main.go
  internal/output/block.go
  internal/output/output.go
  internal/output/pending.go
  internal/output/pending_simple.go
  internal/output/pending_tty.go
  internal/output/progress.go
  internal/output/progress_simple.go
  internal/output/progress_tty.go
Labels: bug

#283 campaigns: improve error output
  cmd/src/campaigns_apply.go
  cmd/src/campaigns_preview.go
Labels: team/campaigns

#284 campaigns: show the repos that are unsupported
  internal/campaigns/errors.go
  internal/campaigns/service.go
Labels: team/campaigns

#286 campaigns: move campaign spec schema to ./schema
  internal/campaigns/campaign_spec.go
  schema/campaign_spec.schema.json
  schema/campaign_spec_stringdata.go
  schema/gen.go
Labels: team/campaigns
