Repository sourcegraph/src-cli, pull requests merged in 2020-10, with the labels that each got.

#335 campaigns: remove full stop from success message
  cmd/src/campaigns_common.go
Labels: team/campaigns

#200 validate command
  cmd/src/validate.go
  go.mod
  go.sum
Labels: estimate/2d, okr/distribution/admin-experience, team/distribution

#346 campaigns: template comment consistency
  cmd/src/campaigns_new.go
Labels: docs, team/campaigns

#350 Add draft option support for publish in changeset template
  go.mod
  go.sum
  internal/campaigns/campaign_spec.go
  internal/campaigns/changeset_spec.go
  schema/campaign_spec.schema.json
  schema/campaign_spec_stringdata.go
Labels: team/campaigns
