Repository sourcegraph/src-cli, pull requests merged in 2021-02, with the labels that each got.

#452 campaigns: wrap the troubleshooting suggestion
  cmd/src/campaigns_common.go
Labels: team/campaigns

#457 Dockerfile: split release and dev recipes
  .dockerignore
  .goreleaser.yml
  DEVELOPMENT.md
  Dockerfile
  Dockerfile.release
Labels: team/campaigns

#456 output: hide the cursor when updating
  internal/output/block.go
  internal/output/output.go
  internal/output/pending_tty.go
  internal/output/progress_tty.go
  internal/output/progress_with_status_bars_tty.go
Labels: team/campaigns

#465 Fix SIGSEGV in changeset spec validation for imported changesets
  CHANGELOG.md
  internal/campaigns/service.go
  internal/campaigns/service_test.go
Labels: bug, team/campaigns

#468 Fix additional files being deleted prematurely
  CHANGELOG.md
  internal/campaigns/repo_fetcher.go
Labels: bug

#475 Add flag to insecurely skip certificate validation
  CHANGELOG.md
  cmd/src/version.go
  internal/api/api.go
  internal/api/flags.go
  internal/campaigns/repo_fetcher.go
Labels: team/campaigns

#477 campaigns: only pull the Docker image in volume mode
  CHANGELOG.md
  internal/campaigns/service.go
Labels: team/campaigns

#479 campaigns: better handle non-root images in volume mode
  CHANGELOG.md
  docker/campaign-volume-workspace/Dockerfile
  internal/campaigns/volume_workspace.go
Labels: bug, team/campaigns

#480 Also respect client flags in src login command
  CHANGELOG.md
  cmd/src/login.go
  cmd/src/login_test.go
Labels: bug
