Repository sourcegraph/src-cli, pull requests merged in 2021-01, with the labels that each got.

#415 ci: migrate all CI to GitHub Actions
  .gitattributes
  .github/workflows/go-ci.yml
  DEVELOPMENT.md
  appveyor.yml
Labels: team/campaigns, windows

#412 campaigns: add and use volume mounts by default on Intel macOS
  .github/workflows/docker.yml
  CHANGELOG.md
  DEVELOPMENT.md
  cmd/src/campaigns_apply.go
  cmd/src/campaigns_common.go
  cmd/src/campaigns_preview.go
  docker/campaign-volume-workspace/Dockerfile
  docker/campaign-volume-workspace/README.md
  docker/campaign-volume-workspace/push.py
  go.mod
  internal/campaigns/bind_workspace.go
  internal/campaigns/bind_workspace_nonwin_test.go
  internal/campaigns/bind_workspace_test.go
  internal/campaigns/bind_workspace_windows_test.go
  internal/campaigns/executor.go
  internal/campaigns/executor_test.go
  internal/campaigns/git.go
  internal/campaigns/main_test.go
  internal/campaigns/repo_fetcher.go
  internal/campaigns/repo_fetcher_test.go
  internal/campaigns/run_steps.go
  internal/campaigns/run_steps_test.go
  internal/campaigns/service.go
  internal/campaigns/volume_workspace.go
  internal/campaigns/volume_workspace_test.go
  internal/campaigns/workspace.go
  internal/exec/exec.go
  internal/exec/expect/expect.go
  internal/exec/middleware.go
Labels: planned/CampaignsSprint7, team/campaigns

#430 codeintel: add an --associated-index-id flag for autoindexer usage
  cmd/src/lsif_upload.go
  go.mod
  go.sum
Labels: team/code-intelligence

#436 campaigns: use the temp dir when mounting scripts in volume mode
  CHANGELOG.md
  cmd/src/campaigns_common.go
  internal/campaigns/service.go
  internal/campaigns/volume_workspace.go
Labels: bug, team/campaigns

#437 campaigns: temporary switch back to bind for non-root
  internal/campaigns/workspace.go
  internal/campaigns/workspace_test.go
Labels: team/campaigns
